In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os
from tkinter import *

In [2]:
Dataset_name = 'TechLabsDataset.csv' 
Dataset = pd.read_csv(os.path.join('./Data/',Dataset_name), index_col = 0)

In [3]:
review_df = pd.DataFrame(Dataset[~Dataset['review_EN'].isnull()]['review_EN'], columns = ['review_EN'])
review_df['sentiment'] = np.nan
review_df['reviewer'] = np.nan
review_df.reset_index(inplace = True)
review_df

,index,review_EN,sentiment,reviewer
0,3,Best employer ever. Worked there for approxima...,NaN,NaN
1,4,better place with very good people everything ...,NaN,NaN
2,5,Nice,NaN,NaN
3,6,Good firm. The staff are very welcoming and f...,NaN,NaN
4,7,"Top company, and coffee, so recommended\n\n",NaN,NaN
...,...,...,...,...
3393,8068,"Untrustworthy people, they are good at lying....",NaN,NaN
3394,8069,Drives antisocial and overtakes right on the ...,NaN,NaN
3395,8070,"In a word, toppers! Always think in possibili...",NaN,NaN
3396,8071,First service\n\n,NaN,NaN
3397,8076,Unique\n\n,NaN,NaN

In [5]:
annotators = ['Katarzyna','Linh','Sifiso','Khalid','Giuseppina']
for a in annotators:
    review_df.to_csv('./Data/Annotations_'+a+'.csv')